<table>
    <thead>
      <tr>
        <th class="time"/>
        <th>
          <strong>Saal 1</strong>
        </th>
    </thead>
    <tr>
    
    <td class="time">14:00</td>
    <td class="room event track-hacking" rowspan="4">
          <p class="title">
            <a href="events/4096.en.html">Code deobfuscation by optimization</a>
          </p>
          <p class="subtitle">
            <a href="events/4096.en.html"></a>

          </p>
          <ul class="speakers">
          </ul>
          <div class="info">
            <a href="events/4096.en.html">
              <div class="language-info">
Language used for presentation                <span class="language">English</span>
              </div>

              <div class="type-info">
Event type                <span class="type">Lecture</span>
              </div>
              <div class="track-info">
Track                <span class="track">Hacking</span>
              </div>
            </a>
          </div>

        </td>
    </tr>
</table>    
    





   <div x-mojo-element="Button" id="saal1" class="buttonClass" name="buttonName"></div> 
   <div x-mojo-element="Button" id="saal2" class="buttonClass2" name="buttonName"></div> 
   <div x-mojo-element="Button" id="saal3" class="buttonClass3" name="buttonName"></div> 