  <table> 
    <thead> 
      <tr> 
        <th class="time"/> 
        <th> 
          <strong>Saal 1</strong> 
          <strong>Saal 2</strong> 
          <strong>Saal 3</strong> 
        </th> 
      </tr> 
    </thead> 
    <tfoot> 
      <tr> 
        <th class="time"/> 
        <th> 
          <strong>Saal 1</strong> 

          <strong>Saal 2</strong> 

          <strong>Saal 3</strong> 
        </th> 
      </tr> 
    </tfoot> 
    <tbody> 
      <tr> 
        <td class="time">11:30</td> 
        <td class="room event track-society" rowspan="4"> 
          <p class="title"> 
            <a href="events/4302.en.html">27C3 Keynote</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4302.en.html">We come in Peace</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4302.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Society</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">11:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">12:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">12:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">12:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">12:45</td> 
        <td class="room event track-society" rowspan="4"> 
          <p class="title"> 
            <a href="events/4103.en.html">Copyright Enforcement Vs. Freedoms</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4103.en.html">ACTA, IPRED3 and other upcoming battles of the crusade against sharing</a> 
          </p> 
          <ul class="speakers"> 
            <li> 
              <a href="speakers/1505.en.html">J&#233;r&#233;mie Zimmermann</a> 
            </li> 
          </ul> 
          <div class="info"> 
            <a href="events/4103.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Society</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room event track-hacking" rowspan="4"> 
          <p class="title"> 
            <a href="events/4096.en.html">Code deobfuscation by optimization</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4096.en.html"></a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4096.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Hacking</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room event track-society" rowspan="4"> 
          <p class="title"> 
            <a href="events/4175.en.html">From robot to robot</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4175.en.html">Restoring creativity in school pupils using robotics</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4175.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Society</span> 
              </div> 
            </a> 
          </div> 
        </td> 
      </tr> 
      <tr> 
        <td class="time">13:00</td> 
      </tr> 
      <tr> 
        <td class="time">13:15</td> 
      </tr> 
      <tr> 
        <td class="time">13:30</td> 
      </tr> 
      <tr> 
        <td class="time">13:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">14:00</td> 
        <td class="room event track-society" rowspan="4"> 
          <p class="title"> 
            <a href="events/4252.en.html">Jahresr&#252;ckblick Internet-Sperren</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4252.en.html">Eine Zusammenfassung der Ereignisse rund um Zensursurla und Censilia</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4252.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">German</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Society</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room event track-hacking" rowspan="4"> 
          <p class="title"> 
            <a href="events/4140.en.html">Contemporary Profiling of Web Users</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4140.en.html">On Using Anonymizers and Still Get Fucked</a> 
          </p> 
          <ul class="speakers"> 
            <li> 
              <a href="speakers/3175.en.html">Dominik Herrmann</a> 
            </li> 
            <li> 
              <a href="speakers/2181.en.html">lexi</a> 
            </li> 
          </ul> 
          <div class="info"> 
            <a href="events/4140.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Hacking</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room event track-hacking" rowspan="4"> 
          <p class="title"> 
            <a href="events/4011.en.html">JTAG/Serial/FLASH/PCB Embedded Reverse Engineering Tools and Techniques</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4011.en.html">a dump of simple tools for embedded analysis at many layers</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4011.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Hacking</span> 
              </div> 
            </a> 
          </div> 
        </td> 
      </tr> 
      <tr> 
        <td class="time">14:15</td> 
      </tr> 
      <tr> 
        <td class="time">14:30</td> 
      </tr> 
      <tr> 
        <td class="time">14:45</td> 
      </tr> 
      <tr> 
        <td class="time">15:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">15:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">15:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">15:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">16:00</td> 
        <td class="room event track-society" rowspan="4"> 
          <p class="title"> 
            <a href="events/4185.en.html">Whistleblowing</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4185.en.html">Licht ins Dunkel!</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4185.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">German</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Society</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room event track-society" rowspan="4"> 
          <p class="title"> 
            <a href="events/4111.en.html">Eins, zwei, drei - alle sind dabei</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4111.en.html">Von der Volksz&#228;hlung zum Bundesmelderegister</a> 
          </p> 
          <ul class="speakers"> 
            <li> 
              <a href="speakers/2349.en.html">Oliver "Unicorn" Knapp</a> 
            </li> 
          </ul> 
          <div class="info"> 
            <a href="events/4111.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">German</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Society</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">16:15</td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">16:30</td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">16:45</td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">17:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">17:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room event track-make" rowspan="4"> 
          <p class="title"> 
            <a href="events/4234.en.html">USB and libusb for fun and profit</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4234.en.html">USB: So much more than a serial port with power</a> 
          </p> 
          <ul class="speakers"> 
            <li> 
              <a href="speakers/2031.en.html">Peter Stuge</a> 
            </li> 
          </ul> 
          <div class="info"> 
            <a href="events/4234.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Make</span> 
              </div> 
            </a> 
          </div> 
        </td> 
      </tr> 
      <tr> 
        <td class="time">17:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">17:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">18:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">18:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">18:30</td> 
        <td class="room empty"/> 
        <td class="room event track-hacking" rowspan="4"> 
          <p class="title"> 
            <a href="events/4265.en.html">hacking smart phones</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4265.en.html">expanding the attack surface and then some</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4265.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Hacking</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">18:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">19:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">19:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">19:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">19:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">20:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">20:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">20:30</td> 
        <td class="room event track-society" rowspan="4"> 
          <p class="title"> 
            <a href="events/4190.en.html">Data Retention in the EU five years after the Directive</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4190.en.html">Why the time is now to get active</a> 
          </p> 
          <ul class="speakers"> 
            <li> 
              <a href="speakers/3173.en.html">Axel Arnbak</a> 
            </li> 
            <li> 
              <a href="speakers/3172.en.html">Katarzyna Szymielewicz</a> 
            </li> 
            <li> 
              <a href="speakers/1207.en.html">Patrick  Breyer</a> 
            </li> 
            <li> 
              <a href="speakers/336.en.html">Ralf Bendrath</a> 
            </li> 
          </ul> 
          <div class="info"> 
            <a href="events/4190.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Society</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room event track-community" rowspan="4"> 
          <p class="title"> 
            <a href="events/4017.en.html">Desktop on the Linux... (and BSD, of course)</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4017.en.html">you're doing it confused? weird? strange? wrong?</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4017.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Community</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">20:45</td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">21:00</td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">21:15</td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">21:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">21:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">22:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">22:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">22:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">22:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">23:00</td> 
        <td class="room empty"/> 
        <td class="room event track-make" rowspan="4"> 
          <p class="title"> 
            <a href="events/4125.en.html">Spinning the electronic Wheel</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4125.en.html">Still the bicycles for the 21th century</a> 
          </p> 
          <ul class="speakers"> 
          </ul> 
          <div class="info"> 
            <a href="events/4125.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">German</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Lecture</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Make</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">23:15</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">23:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">23:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">00:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">00:15</td> 
        <td class="room event track-community" rowspan="4"> 
          <p class="title"> 
            <a href="events/4253.en.html">Pentanews Game Show</a> 
          </p> 
          <p class="subtitle"> 
            <a href="events/4253.en.html">Your opponents will be riddled as well</a> 
          </p> 
          <ul class="speakers"> 
            <li> 
              <a href="speakers/5.en.html">Alien8</a> 
            </li> 
            <li> 
              <a href="speakers/26.en.html">Astro</a> 
            </li> 
          </ul> 
          <div class="info"> 
            <a href="events/4253.en.html"> 
              <div class="language-info"> 
Language used for presentation                <span class="language">English</span> 
              </div> 
              <div class="type-info"> 
Event type                <span class="type">Other</span> 
              </div> 
              <div class="track-info"> 
Track                <span class="track">Community</span> 
              </div> 
            </a> 
          </div> 
        </td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">00:30</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">00:45</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
      <tr> 
        <td class="time">01:00</td> 
        <td class="room empty"/> 
        <td class="room empty"/> 
      </tr> 
    </tbody> 
  </table> 

   <div x-mojo-element="Button" id="saal1" class="buttonClass" name="buttonName"></div> 
   <div x-mojo-element="Button" id="saal2" class="buttonClass2" name="buttonName"></div> 
   <div x-mojo-element="Button" id="saal3" class="buttonClass3" name="buttonName"></div> 