<div style="padding-bottom:10px;" x-mojo-element="List" id="EventWidget"></div>


<div class="palm-group">
	   <div class="palm-group-title">
            <span>Notes</span>
       </div>
       <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="textfield-group" x-mojo-focus-highlight="false">
                        <div class="title">
                              <div class="label"></div> 
                             <div style="height:200px" x-mojo-element="TextField" id="textFieldId" class="textFieldClass" name="textFieldName">
                              </div>
                        </div>    
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>  

<div id="FavoritesButton" name="FavoritesButton" x-mojo-element="Button"></div>