<div class="palm-group">
    <div class="palm-group-title">
        <span>Quickinfo</span>
    </div>
    <div class="palm-list">
        <div class="palm-row first" x-mojo-touch-feedback="none" x-mojo-focus-highlight="true">  
            <div style="padding-bottom:10px; padding-right:10px; padding-left:15px" class="palm-row-wrapper">
                <div style="padding-top:10px;">#{-title}</div>
                <div class="italic">
                    #{-subtitle}
                    <br/>
                </div>
            </div>  
        </div> 
        <div class="palm-row" x-mojo-touch-feedback="none"> 	
            <div style="" id="#{-id}" class="palm-row-wrapper">
                <div id="day" style="" class="label left">&nbsp;</div>
                <div style="" class="title right">#{-humanstartend}
                </div>
            </div> 
        </div> 
        <div class="palm-row" x-mojo-touch-feedback="none"> 	
            <div style="" id="#{-id}" class="palm-row-wrapper">
                <div id="day" style="" class="label left">Track</div>
                <div style="" class="title right">#{-track}
                </div>
            </div> 
        </div>  
        <div class="palm-row" x-mojo-touch-feedback="none"> 	
            <div style="" id="#{-id}" class="palm-row-wrapper">
                <div id="day" style="" class="label left">Language</div>
                <div style="" class="title right">#{-language}
                </div>
            </div> 
        </div>                    
        <div class="palm-row last" x-mojo-touch-feedback="none"> 	
            <div style="" id="#{-id}" class="palm-row-wrapper">
                <div id="day" style="" class="label left">Persons</div>
                <div style="" class="title right">#{-persons}
                </div>
            </div> 
        </div>  
         
    </div> 
</div>  
<div class="palm-group">
    <div class="palm-group-title">
        <span>Abstract</span>
    </div>                      
    <div style="">
        #{-summary}      
    </div>
</div>		