<div class="palm-group">
    <div class="palm-group-title">
        <span>Main Menu</span>
    </div>
    
    <div class="palm-list">
        <div x-mojo-element="List" id="MenuWidget"></div>
    </div>
</div>

<div class="palm-group">
	<div class="palm-group-title">
		<span>Extras</span>
	</div>
	<div class="palm-list">
		<div class="palm-row last" x-mojo-touch-feedback="immediate">
			<div id="bookmarks" class="palm-row-wrapper">
				<div class="label left">Bookmarks
				</div>
				
			</div>	
		</div>	
	</div>
</div>

