.italic {
    font-style:italic;
}


.buttonClass {
    position:fixed;
    bottom:0px;    
    right:10px;
    padding-right:200px;
}
.buttonClass2 {
    position:fixed;
    bottom:0px;
    right:10px;
    padding-right:100px;
}
.buttonClass3 {
    position:fixed;
    bottom:0px;
    right:10px;
}
.copyright_help {
    position:relative;
    left: 10px;
    bottom:2px;
    padding-top:5px;
}