.buttonClass {
    position:fixed;
    bottom:0px;    
}
.buttonClass2 {
    position:fixed;
    bottom:0px;
    left:100px;
}
.buttonClass3 {
    position:fixed;
    bottom:0px;
    left:200px;
}
.copyright_help {
    position:relative;
	left: 10px;
    bottom:2px;
    padding-top:5px;
}