/* A scroller needs a container element */
.scrollerContainer {
    width:  960px;
    height: 400px;
}
/* An item that is viewable in the scroll pane window */
.scrollerItem {
    float:     left;
    width:     320px;
    min-width: 320px;
}


.truncateCSS3 {
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.italic {
    font-style:italic;
}


.buttonClass {
    position:fixed;
    bottom:0px;    
    right:10px;
    padding-right:200px;
}
.buttonClass2 {
    position:fixed;
    bottom:0px;
    right:10px;
    padding-right:100px;
}
.buttonClass3 {
    position:fixed;
    bottom:0px;
    right:10px;
}
.copyright_help {
    position:absolute;
    left: 10px;
    top:420px;
}