


<div x-mojo-element="Scroller" id="scrollerId">
    <div id="container" class="scrollerContainerPortait">
        <div class=" scrollerItem" id="scrollerItem:1">
            <div style="" id="title1" class=" palm-page-header">Saal 1</div>
			<div style="padding-bottom:65px;" x-mojo-element="List" id="TimeWidget0"></div>
        </div>
        <div class=" scrollerItem" id="scrollerItem:2">
        	<div style="" id="title2" class=" palm-page-header">Saal 2</div>
			<div style="padding-bottom:65px;" x-mojo-element="List" id="TimeWidget1"></div>
        </div>
        <div class=" scrollerItem" id="scrollerItem:3">
        	<div style="" id="title3" class=" palm-page-header">Saal 3</div>
			<div style="padding-bottom:65px;" x-mojo-element="List" id="TimeWidget2"></div>
        </div>
    </div>
</div>    

<!--
<div class="day-footer">
    <div class="day-footer-wrapper">
        <div style="display: block;">
		
           <div x-mojo-element="Button" id="saal1" class="primary buttonClass" name="buttonName"></div>
           <div x-mojo-element="Button" id="saal2" class="primary buttonClass2" name="buttonName"></div> 
           <div x-mojo-element="Button" id="saal3" class="primary buttonClass3" name="buttonName"></div>  
        
		</div>
    </div>  

</div-->
<div class="day-footer-spacer"></div>
