<div class="palm-list">
	<div class="palm-row no-divider multi-line" x-mojo-touch-feedback="none">
			
		<div style="height:#{duration}px; -webkit-border-radius: 30px; background-color:#{-color}" id="#{-id}" class="palm-row-wrapper">
			<div style="display:block;" class="label left">#{-humanstartend}<br/>
			</div>
			<div style="width:100px;" class="title right">&nbsp;</div>
				<div style="padding-bottom:10px; padding-right:10px; padding-left:15px" ">
					<div>#{-title}</div>
					<div class="truncating-text italic">#{-subtitle}
					</div>
				</div>
		</div>
			
	</div>
</div>		
